<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hustunique.lockscreen"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:normalScreens="true"
        android:smallScreens="true" >
    </supports-screens>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS.COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.USER_PRESENT" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <supports-screens android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="org.hustunique.lockscreen.guide.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.hustunique.lockscreen.LockScreenService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="org.hustunique.lockscreen.StandardBroadcastReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="action_alarm_review" />
                <action android:name="action_alarm_daily_update" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.hustunique.lockscreen.LockScreenActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!--
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="false"
        -->

        <activity
            android:name="org.hustunique.lockscreen.guide.GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>
        <activity
            android:name="org.hustunique.lockscreen.LauncherActivity"
            android:label="@string/title_activity_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.hustunique.lockscreen.SlidingActivity"
            android:label="@string/title_activity_sliding"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="org.hustunique.lockscreen.function.StoreActivity"
            android:label="@string/title_activity_store" >
        </activity>
        <activity android:name="org.hustunique.lockscreen.function.EditActivity" >
        </activity>
        <activity
            android:name="org.hustunique.lockscreen.function.DownActivity"
            android:label="@string/title_activity_down" >
        </activity>
    </application>

</manifest>